In [1]:
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [3]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [4]:
print('the {q} {b} {f}'.format(f='fox', b = 'brown' , q = 'quick'))

the quick brown fox

In [5]:
result = 100/777

In [7]:
print("the result was {r:1.3f}" .format(r=result))

the result was 0.129

In [8]:
name = "Jose"

In [9]:
print(f'hello, his name is {name}')

hello, his name is Jose

In [10]:
name = "same"

In [11]:
name = "same"
age = "500"
print(f'{name} is {age} years old')

same is 500 years old