In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [4]:
for jelly in mylist:
    print('hello!')

hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!

In [7]:
for num in mylist:
    #check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

In [10]:
list_sum = 0

for num in mylist: 
    list_sum = list_sum + num

print(list_sum)

55

In [13]:
for _ in 'mystring':
    print('cool!')

cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!

In [14]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [15]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [17]:
len(mylist)

4

In [20]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [21]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [26]:
for a,b,c in mylist:
    print(b)

2
6
9

In [31]:
d ={'k1':1,'k2':2,'k3':3}

for value in d.values():
    print(value)

1
2
3